/* Header style */
header {
    width: 100vw;
    height: 3.2em;
    padding: 0rem 1.6rem;
    box-sizing: border-box;
    border-bottom: 0.1em solid var(--light-black);
    background: var(--white);
    box-shadow: 0em 0.4em 0.4em 0em var(--light-shadow);
    z-index: 10;
}

header nav {
    height: 100%;
    gap: 2rem
}

.head-title {
    height: 100%;
    width: 8rem;
    gap: 1.8rem;
}

.head-title h1 {
    cursor: pointer;
}

.acc-buttons {
    height: 100%;
    width: 8rem;
    gap: 2rem;
}

/* Navigation bar style */
.menu {
    display: none;
    fill: var(--fade-black);
    width: 1.2rem;
    height: 1.2rem;
    overflow: visible;
    cursor: pointer;
}

.menu:hover {
    fill: var(--fade-black-hover);
}

.navbar {
    position: fixed;
    z-index: 9;
    transition: 320ms ease-out;
}

.open {
    transform: translateY(4rem);
}

.navbar span {
    padding: 0.4rem 1.8rem;
    height: 2.6rem;
    background-color: var(--white);
    box-sizing: border-box;
    border: 0.1em solid var(--light-black);
    border-radius: 0.4em;
    box-shadow: -0.4em 0.4em 0.4em 0em var(--light-shadow);
}

.navbar span nav {
    height: 100%;
    gap: 2rem;
}

#head-title {
    display: flex;
}

#nav-buttons {
    display: flex;
}

#menu {
    display: none;
}

@media (max-width: 600px) {
    header {
        padding: 0rem 1.2rem;
    }

    header nav {
        gap: 12%;
    }

    .navbar span {
        width: 60%;
    }

    .navbar span nav {
        gap: 16%;
    }

    #head-title {
        display: none;
    }
    
    #nav-buttons {
        display: none;
    }
    
    #menu {
        display: flex;
    }

    .acc-buttons {
        gap: 12%;
    }
}

.header-profile {
    height: 100%;
    width: 8rem;
    gap: 0.8rem;
}

.header-profile svg {
    fill: var(--black);
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
}

.link {
    cursor: pointer;
}

.link:hover {
    color: var(--fade-black-hover);
}

/* Main style */
main {
    min-height: 100vh;
}

/* Search bar section style */
.search {
    padding: 6rem 24% 3.2rem 24%;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .search {
        padding: 6rem 12% 3.2rem 12%;
    }
}

.search input {
    width: auto;
    padding: 0.4rem 1.2rem;
    box-sizing: border-box;
    border: 0.1em solid var(--light-black);
    border-radius: 0.4em;
    outline: none;
}

.search input::placeholder {
    color: var(--grey);
}

.search button {
    color: var(--white);
    background-color: var(--black);
    padding: 0.4rem 1.2rem;
    box-sizing: border-box;
    border-radius: 0.4em;
    gap: 0.6rem;
    cursor: pointer;
    transition: 160ms ease-out;
}

.search button:hover {
    background-color: var(--black-hover);
}

/* Results section style */
.results {
    padding: 0rem 12% 2.4rem 12%;
    
}

@media (max-width: 600px) {
    .results {
        padding: 0rem 8% 2.4rem 8%;
    }
}

/* Footer style */
footer {
    width: 100vw;
    padding: 2.4rem 1.6rem;
    box-sizing: border-box;
    border-top: 0.1em solid var(--light-black);
    background: var(--white);
}

footer nav {
    gap: 2rem;
}

@media (max-width: 600px) {
    footer {
        padding: 2.4rem 1.2rem;
    }

    footer nav {
        gap: 12%;
    }
}

footer p {
    color: var(--grey);
}