/* Color palette */
/* 
    black: text, title
    fade-black: text, paragraph
    grey: text, paragraph
    light-black: stroke, border
    light-grey: frame, background
    light-yellow: frame, background, border
    red: like fill
    light-red: stroke, border
    white: background
*/
:root {
    --black: #0D0907;
    --black-hover: rgba(13, 9, 7, 0.88);
    --fade-black-hover: rgba(13, 9, 7, 0.72);
    --fade-black: #3D3936;
    --grey: #86827B;
    --grey-hover: rgba(13, 9, 7, 0.58);
    --light-black: #CFCAC1;
    --light-grey: #ECE7DD;
    --fade-shadow: rgba(13, 9, 7, 0.06);
    --light-shadow: rgba(13, 9, 7, 0.02);
    --light-yellow: #FEE0AA;
    --red: #FF1600;
    --light-red: #FF988E;
    --light-red-hover: rgba(255, 22, 0, 0.06);
    --white: #FFFAF0;
    --white-hover: rgba(13, 9, 7, 0.06);
}

/* Lato regular */
.lato {
    font-family: "Lato", sans-serif;
    font-weight: 400; 
    font-style: normal;
    line-height: 1.4rem;
}

/* Lato bold */
.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700; 
    font-style: normal;
    line-height: 1.6rem;
}

/* Mynerve regular */
.mynerve {
    font-family: "Mynerve", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Dafault font color */
* {
    color: var(--black);
}

/* Default background color */
body {
    background-color: var(--white);
    scroll-behavior: smooth;
}